In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
match_data = pd.read_csv('./match_data.csv', index_col = 0)
match_data.head()

,Date,Tm,Opp,Result,MP,FG,FGA,FG%,2P,2PA,...,2P.1,2PA.1,2P%.1,3P.1,3PA.1,3P%.1,FT.1,FTA.1,FT%.1,PTS.1
0,13/3/21,ATL,SAC,W 121-106,240,43,84,0.512,31,51,...,36,62,0.581,7,36,0.194,13,16,0.813,106
1,13/3/21,SAC,ATL,L 106-121,240,43,98,0.439,36,62,...,31,51,0.608,12,33,0.364,23,33,0.697,121
2,13/3/21,BRK,DET,W 100-95,240,39,81,0.481,33,54,...,28,57,0.491,8,32,0.250,15,20,0.750,95
3,13/3/21,DET,BRK,L 95-100,240,36,89,0.404,28,57,...,33,54,0.611,6,27,0.222,16,22,0.727,100
4,13/3/21,CHO,TOR,W 114-104,240,39,80,0.488,18,31,...,22,50,0.440,15,46,0.326,15,18,0.833,104

In [4]:
# change date from dd/mm/yyy to yyymmdd
match_data['Date_ori'] = match_data['Date'] 
match_data['Date'] = pd.to_datetime(match_data['Date'], infer_datetime_format=True)
match_data['Date'] = match_data['Date'].apply(lambda x: x.strftime('%Y-%m-%d'))
match_data['Date'] = match_data['Date'].apply(lambda x: x[0:4] + x[5:7] + x[8:10])

In [5]:
# get player data for a team in a certain match from the website
# return a new dataframe with one column (columns names: {FG_players, FGA_players, FG%_players, 3P_players...})

def get_player_data(tables, pos, OT = 0):
    if pos == 'first':
        t1, t2 = 0, 7 + OT
    else: # pos = 'second'
        t1, t2 = 8 + OT, 15 + OT*2

    # get the main table
    df_tm = tables[t1]
    df_tm.columns = ['Starters', 'MP', 'FG', 'FGA', 'FG%', '3P','3PA', '3P%', 'FT', 'FTA', 
                        'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', '+/-']
    df_tm = df_tm[df_tm['Starters'] != 'Reserves']
    
    # get the additional table   
    df_tm_add = tables[t2]
    df_tm_add.columns = ['Starters', 'MP', 'TS%', 'eFG%', '3PAr', 'FTr', 'ORB%','DRB%', 'TRB%', 
                            'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'ORtg', 'DRtg', 'BPM']
    df_tm_add = df_tm_add[df_tm_add['Starters'] != 'Reserves']
    
    # combine the main and the additional table as the complete player_df
    player_df = df_tm.merge(df_tm_add, on = ['Starters', 'MP'])
    
    # calculate the player performance by the player_df 
    def calculate_players_average(player_df):
        player_df = player_df.fillna(0)
        player_df = player_df.query('MP not in ["Did Not Play", "Did Not Dress", "Not With Team"] \
                                    and Starters not in ["Team Totals"]')

        def transform_mp(mp):
            minutes, seconds = mp.split(':')
            return (int(minutes) * 60 + int(seconds)) / (240 * 60)
        player_df['MP'] = player_df['MP'].apply(transform_mp)

        def weighted_column(column, df):
            df[column] = df[column].apply(float)
            result = df[column] * df['MP']
            return sum(result)

        lst = []
        for column in player_df.columns[2:]:
            value = weighted_column(column, player_df)
            lst.append([float(value)]) 
        average_df = pd.DataFrame(lst).T
        average_df.columns = [i + '_players'for i in player_df.columns[2:]]
        
        return average_df
    
    return calculate_players_average(player_df)

In [6]:
# get 2 possible urls for a match from the match dataset
def get_url(row):
    match_id = row['Date']+ '0'
    id1 = match_id + row['Tm'] 
    id2 = match_id + row['Opp'] 
    url1 = 'https://www.basketball-reference.com/boxscores/' + id1 + '.html'
    url2 = 'https://www.basketball-reference.com/boxscores/' + id2 + '.html'
    return url1, url2

In [7]:
# read the table from url
def get_table(url1, url2):
    try:
        tables = pd.read_html(url1)
        url = url1
    except:
        tables = pd.read_html(url2)
        url = url2
    return url, tables

In [8]:
# create players dataframe to save the players performance for each team by match sequence

player_df_columns = ['FG', 'FGA', 'FG%', '3P', '3PA', '3P%', 'FT', 'FTA',
       'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS',
       '+/-', 'TS%', 'eFG%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%',
       'STL%', 'BLK%', 'TOV%', 'USG%', 'ORtg', 'DRtg', 'BPM']
players_df = pd.DataFrame(columns =  [i + '_players'for i in player_df_columns])

i = 0

while i < match_data.shape[0]:
    if i % 10 == 0:
        print ("Starting ", i)
    
    # read in every match data
    row1, row2 = match_data.iloc[i], match_data.iloc[i+1]
    tm1, tm2 = row1['Tm'], row2['Tm']
    
    # determine which team is the host team
    url1, url2 = get_url(row1)
    
    url, tables = get_table(url1, url2)
    host_team = url[-8:-5]
    
    # check if ot
    ot = 0
    if '(2OT)' in row1['Result']:
        ot = 2
    elif '(OT)' in row1['Result']:
        ot = 1
        
    # determine which team is described in the first/second table on the website
    df_team1 = get_player_data(tables, 'first', ot)
    df_team2 = get_player_data(tables, 'second', ot)
    
    df1 = df_team2 if host_team == tm1 else df_team1
    df2 = df_team1 if host_team == tm1 else df_team2
    
    # combine the data 
    players_df = pd.concat([players_df, df1, df2], axis = 0)      
    i = i + 2

Starting  0
Starting  10
Starting  20
Starting  30
Starting  40
Starting  50
Starting  60
Starting  70
Starting  80
Starting  90
Starting  100
Starting  110
Starting  120
Starting  130
Starting  140
Starting  150
Starting  160
Starting  170
Starting  180
Starting  190
Starting  200
Starting  210
Starting  220
Starting  230
Starting  240
Starting  250
Starting  260
Starting  270
Starting  280
Starting  290
Starting  300
Starting  310
Starting  320
Starting  330
Starting  340
Starting  350
Starting  360
Starting  370
Starting  380
Starting  390
Starting  400
Starting  410
Starting  420
Starting  430
Starting  440
Starting  450
Starting  460
Starting  470
Starting  480
Starting  490
Starting  500
Starting  510
Starting  520
Starting  530
Starting  540
Starting  550
Starting  560
Starting  570
Starting  580
Starting  590
Starting  600
Starting  610
Starting  620
Starting  630
Starting  640
Starting  650
Starting  660
Starting  670
Starting  680
Starting  690
Starting  700
Starting  710
Starting  720
Starting  730
Starting  740
Starting  750
Starting  760
Starting  770
Starting  780
Starting  790
Starting  800
Starting  810
Starting  820
Starting  830
Starting  840
Starting  850
Starting  860
Starting  870
Starting  880
Starting  890
Starting  900
Starting  910
Starting  920
Starting  930
Starting  940
Starting  950
Starting  960
Starting  970
Starting  980
Starting  990
Starting  1000
Starting  1010
Starting  1020
Starting  1030
Starting  1040
Starting  1050
Starting  1060
Starting  1070
Starting  1080
Starting  1090
Starting  1100
Starting  1110
Starting  1120
Starting  1130
Starting  1140
Starting  1150
Starting  1160
Starting  1170
Starting  1180
Starting  1190

In [1]:
# prepare players_df, match_data 
players_df = players_df.reset_index().drop(columns = ['index'])
match_data = match_data.drop(columns = ['Date']).rename(columns = {'Date_ori': 'Date'})
date = match_data.pop('Date')
match_data.insert(0, 'Date', date)

# combine the players data with the matches by index
df_all = pd.concat([match_data, players_df],  axis = 1)
df_all.head(2)

In [11]:
df_all.shape

(1200, 65)

In [ ]:
df_all.to_csv('./match_player_data.csv', index = 0)