In [1]:
import pandas as pd
import numpy as np

In [2]:
df_player = pd.read_csv("./match_player_data.csv")
df_match = pd.read_csv("./match_data.csv")

In [3]:
df_player.head()

,Date,Tm,Opp,Result,MP,FG,FGA,FG%,2P,2PA,...,DRB%_players,TRB%_players,AST%_players,STL%_players,BLK%_players,TOV%_players,USG%_players,ORtg_players,DRtg_players,BPM_players
0,2021/3/13,ATL,SAC,W 121-106,240,43,84,0.512,31,51,...,11.844465,9.786229,12.913090,1.305715,0.648069,4.774528,19.989097,136.225000,115.782014,1.713375
1,2021/3/13,SAC,ATL,L 106-121,240,43,98,0.439,36,62,...,13.146292,10.224833,15.433486,1.098319,0.397688,10.150028,19.993132,112.081389,133.155347,-2.088681
2,2021/3/13,BRK,DET,W 100-95,240,39,81,0.481,33,54,...,14.286708,8.617410,14.567028,1.707583,2.470382,8.449958,19.993437,115.630208,102.247847,1.433340
3,2021/3/13,DET,BRK,L 95-100,240,36,89,0.404,28,57,...,17.443965,11.364951,17.678208,2.128882,3.006507,11.274625,20.000007,99.876458,105.998958,0.197160
4,2021/3/13,CHO,TOR,W 114-104,240,39,80,0.488,18,31,...,15.371069,10.423986,20.283917,1.910250,2.409646,24.454444,19.999069,104.307153,98.834236,0.590090

In [4]:
df_match.head()

,Unnamed: 0,Date,Tm,Opp,Result,MP,FG,FGA,FG%,2P,...,2P.1,2PA.1,2P%.1,3P.1,3PA.1,3P%.1,FT.1,FTA.1,FT%.1,PTS.1
0,0,2021/3/13,ATL,SAC,W 121-106,240,43,84,0.512,31,...,36,62,0.581,7,36,0.194,13,16,0.813,106
1,1,2021/3/13,SAC,ATL,L 106-121,240,43,98,0.439,36,...,31,51,0.608,12,33,0.364,23,33,0.697,121
2,2,2021/3/13,BRK,DET,W 100-95,240,39,81,0.481,33,...,28,57,0.491,8,32,0.250,15,20,0.750,95
3,3,2021/3/13,DET,BRK,L 95-100,240,36,89,0.404,28,...,33,54,0.611,6,27,0.222,16,22,0.727,100
4,4,2021/3/13,CHO,TOR,W 114-104,240,39,80,0.488,18,...,22,50,0.440,15,46,0.326,15,18,0.833,104

In [5]:
# drop overlapping columns from player df
to_drop = []
for col_name in df_player.columns:
    if col_name in df_match.columns:
        to_drop.append(col_name)

df_player.drop(columns=to_drop, inplace=True)

In [9]:
merged_raw = df_match.join(df_player)

In [10]:
merged_raw.head()

,Unnamed: 0,Date,Tm,Opp,Result,MP,FG,FGA,FG%,2P,...,DRB%_players,TRB%_players,AST%_players,STL%_players,BLK%_players,TOV%_players,USG%_players,ORtg_players,DRtg_players,BPM_players
0,0,2021/3/13,ATL,SAC,W 121-106,240,43,84,0.512,31,...,11.844465,9.786229,12.913090,1.305715,0.648069,4.774528,19.989097,136.225000,115.782014,1.713375
1,1,2021/3/13,SAC,ATL,L 106-121,240,43,98,0.439,36,...,13.146292,10.224833,15.433486,1.098319,0.397688,10.150028,19.993132,112.081389,133.155347,-2.088681
2,2,2021/3/13,BRK,DET,W 100-95,240,39,81,0.481,33,...,14.286708,8.617410,14.567028,1.707583,2.470382,8.449958,19.993437,115.630208,102.247847,1.433340
3,3,2021/3/13,DET,BRK,L 95-100,240,36,89,0.404,28,...,17.443965,11.364951,17.678208,2.128882,3.006507,11.274625,20.000007,99.876458,105.998958,0.197160
4,4,2021/3/13,CHO,TOR,W 114-104,240,39,80,0.488,18,...,15.371069,10.423986,20.283917,1.910250,2.409646,24.454444,19.999069,104.307153,98.834236,0.590090

In [11]:
merged_raw.columns

Index(['Unnamed: 0', 'Date', 'Tm', 'Opp', 'Result', 'MP', 'FG', 'FGA', 'FG%',
       '2P', '2PA', '2P%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'PTS',
       'FG.1', 'FGA.1', 'FG%.1', '2P.1', '2PA.1', '2P%.1', '3P.1', '3PA.1',
       '3P%.1', 'FT.1', 'FTA.1', 'FT%.1', 'PTS.1', 'FG_players', 'FGA_players',
       'FG%_players', '3P_players', '3PA_players', '3P%_players', 'FT_players',
       'FTA_players', 'FT%_players', 'ORB_players', 'DRB_players',
       'TRB_players', 'AST_players', 'STL_players', 'BLK_players',
       'TOV_players', 'PF_players', 'PTS_players', '+/-_players',
       'TS%_players', 'eFG%_players', '3PAr_players', 'FTr_players',
       'ORB%_players', 'DRB%_players', 'TRB%_players', 'AST%_players',
       'STL%_players', 'BLK%_players', 'TOV%_players', 'USG%_players',
       'ORtg_players', 'DRtg_players', 'BPM_players'],
      dtype='object')

In [12]:
# drop unnecessary columns
merged_raw.drop(columns=['Unnamed: 0'], inplace=True)

In [13]:
merged_raw.head()

,Date,Tm,Opp,Result,MP,FG,FGA,FG%,2P,2PA,...,DRB%_players,TRB%_players,AST%_players,STL%_players,BLK%_players,TOV%_players,USG%_players,ORtg_players,DRtg_players,BPM_players
0,2021/3/13,ATL,SAC,W 121-106,240,43,84,0.512,31,51,...,11.844465,9.786229,12.913090,1.305715,0.648069,4.774528,19.989097,136.225000,115.782014,1.713375
1,2021/3/13,SAC,ATL,L 106-121,240,43,98,0.439,36,62,...,13.146292,10.224833,15.433486,1.098319,0.397688,10.150028,19.993132,112.081389,133.155347,-2.088681
2,2021/3/13,BRK,DET,W 100-95,240,39,81,0.481,33,54,...,14.286708,8.617410,14.567028,1.707583,2.470382,8.449958,19.993437,115.630208,102.247847,1.433340
3,2021/3/13,DET,BRK,L 95-100,240,36,89,0.404,28,57,...,17.443965,11.364951,17.678208,2.128882,3.006507,11.274625,20.000007,99.876458,105.998958,0.197160
4,2021/3/13,CHO,TOR,W 114-104,240,39,80,0.488,18,31,...,15.371069,10.423986,20.283917,1.910250,2.409646,24.454444,19.999069,104.307153,98.834236,0.590090

In [14]:
# split into tm and opp team
df_tm = merged_raw.iloc[::2]
df_opp = merged_raw.iloc[1::2]

In [15]:
df_tm.reset_index(inplace=True, drop=True)
df_opp.reset_index(inplace=True, drop=True)

In [16]:
# drop team name columns for the opp df to prevent duplication
df_opp.drop(columns=['Tm', 'Opp'], inplace=True)

/Users/zhouzijian/Library/Python/3.7/lib/python/site-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [17]:
for col_name in df_opp.columns:
    df_opp.rename(columns={col_name: col_name + "_opp"}, inplace=True)

/Users/zhouzijian/Library/Python/3.7/lib/python/site-packages/pandas/core/frame.py:4238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [23]:
df_opp.columns

Index(['Date_opp', 'Result_opp', 'MP_opp', 'FG_opp', 'FGA_opp', 'FG%_opp',
       '2P_opp', '2PA_opp', '2P%_opp', '3P_opp', '3PA_opp', '3P%_opp',
       'FT_opp', 'FTA_opp', 'FT%_opp', 'PTS_opp', 'FG.1_opp', 'FGA.1_opp',
       'FG%.1_opp', '2P.1_opp', '2PA.1_opp', '2P%.1_opp', '3P.1_opp',
       '3PA.1_opp', '3P%.1_opp', 'FT.1_opp', 'FTA.1_opp', 'FT%.1_opp',
       'PTS.1_opp', 'FG_players_opp', 'FGA_players_opp', 'FG%_players_opp',
       '3P_players_opp', '3PA_players_opp', '3P%_players_opp',
       'FT_players_opp', 'FTA_players_opp', 'FT%_players_opp',
       'ORB_players_opp', 'DRB_players_opp', 'TRB_players_opp',
       'AST_players_opp', 'STL_players_opp', 'BLK_players_opp',
       'TOV_players_opp', 'PF_players_opp', 'PTS_players_opp',
       '+/-_players_opp', 'TS%_players_opp', 'eFG%_players_opp',
       '3PAr_players_opp', 'FTr_players_opp', 'ORB%_players_opp',
       'DRB%_players_opp', 'TRB%_players_opp', 'AST%_players_opp',
       'STL%_players_opp', 'BLK%_players_opp', 'TOV%_players_opp',
       'USG%_players_opp', 'ORtg_players_opp', 'DRtg_players_opp',
       'BPM_players_opp'],
      dtype='object')

In [24]:
# drop unnecessary columns from df_opp
df_opp.drop(columns=['Date_opp', 'Result_opp'], inplace=True)

In [25]:
merged_final = df_tm.join(df_opp)

In [26]:
merged_final.columns

Index(['Date', 'Tm', 'Opp', 'Result', 'MP', 'FG', 'FGA', 'FG%', '2P', '2PA',
       ...
       'DRB%_players_opp', 'TRB%_players_opp', 'AST%_players_opp',
       'STL%_players_opp', 'BLK%_players_opp', 'TOV%_players_opp',
       'USG%_players_opp', 'ORtg_players_opp', 'DRtg_players_opp',
       'BPM_players_opp'],
      dtype='object', length=126)

In [27]:
# save cleaned data to csv
merged_final.to_csv("./combined_match_data.csv")